#nav-list{
    min-width: 591px;
}

#nav-list > li{
    display: inline-grid;
    padding: 10px;
    background-color: #80C2B0;

    border-radius: 5px;
    margin-left: 1%;

}

#nav-list > li > a{
    text-decoration: none;
    color: white;
}

#contact-link{
    margin-left: 80% !important;
}

#content-body{
    display:inline-grid;
    width: 86%;
    margin-left: 4%;

    
}

#content-body > p{
    color: white;
}