.breadcrumb {
  text-align:center;
  border-bottom:1px solid #eee;
  padding-top:12px;
  background-color:rgb(3,42,118);
  padding-bottom:12px;
  margin-bottom:40px;
}

nav.navbar.navbar-default {
  margin-bottom:0px;
  background-color:rgb(3,23,72);
}

@media (min-width:992px) {
  .product h2 {
    margin-top:0;
  }
}

.navbar .navbar-brand {
  font-size:24px;
  line-height:18px;
}

.reviewer-name {
  margin-right:10px;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#6a1a1a;
  text-align:center;
  background-color:#031526;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.btn.write-review {
  float:right;
  margin-top:-6px;
}

img {
  width:auto;
  height:60px;
}

body {
  background-color:rgb(134,181,237);
}

p {
  color:rgb(18,8,142);
}

h3 {
  color:rgb(18,8,142);
}

h4 {
  color:white;
}

i.fa.fa-star {
  color:yellow;
}

a.navbar-brand.navbar-link {
  color:rgb(109,188,232);
}

span {
  color:rgb(109,188,232);
}

td {
  background-color:rgb(11,28,62);
  width:auto;
}

tr {
  width:auto;
}

